<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="product name">
        <input type="number" name="price" placeholder="product price">
        <select name="category" id="">
            <option value="fruits">Fruits</option>
            <option value="vegetables">Vegetables</option>
            <option value="dairy">Dairy</option>
        </select>
    </form>
    </body>
</html>