<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    
    <h1>Edit your Comment</h1>
    <form action="">
        <section>
            <label for="comment">Comments Your Views</label>
            <br>
            <textarea name="comment" placeholder="Your Comment" id="comment" cols="30" rows="5"></textarea>
        </section>
    </form>
</body>
</html>