<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>
<body>
    <h1>Make a New Comments</h1>
    <form action="/comments" method="post">
    <section>
        <label for="username">Enter username:</label>
        <input type="text" placeholder="Your Username" name="username" id="username">
    </section>
    <section>
        <label for="comment">Comments Your Views</label>
        <br>
        <textarea name="comment" placeholder="Your Comment" id="comment" cols="30" rows="5"></textarea>
    </section>
    <button>Submit</button>
    </form>
    <a href="/comments">Home Page</a>
</body>
</html>