<%- include('partials/head.ejs') %>

    <h1>All The Dogs</h1>
    <ul>
        <% for(let dog of dogs) { %>
            <li>
                <%= dogs %>
            </li>
        <% }; %>
    </ul>
<%- include('partials/footer.ejs') %>