<%- include('partials/head.ejs') %>

    <%- include('partials/navbar.ejs') %>
    <h1>This is the Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Tempore aliquam quod exercitationem impedit quas, 
        doloribus totam ex molestias architecto qui, eligendi quae magnam quo earum accusantium incidunt. 
        Ipsam, cupiditate nobis.
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Praesentium porro, ratione non illo necessitatibus suscipit eius perspiciatis quod eos nam rerum sint vitae eligendi fuga rem dicta, 
        accusamus repellendus fugiat!
    </p>

    
 <%- include('partials/footer.ejs') %>