<%- include('partials/head.ejs') %>

    <%- include('partials/navbar.ejs') %>

    <h1>Your Random Number Is <%= randomNum %></h1>
    <p>Rishav, Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Et, natus incidunt tempora rerum cupiditate qui necessitatibus perferendis perspiciatis, 
        placeat voluptate, labore ex sequi deserunt numquam ipsa magni nihil dolorum.
    </p>
<%- include('partials/footer.ejs') %>